<!DOCTYPE html>
<include file="Public:header" />
<body class="layui-view-body">
	<style>
		.form-box{
			padding:0
		}
		.layui-table, .layui-table-view{
			margin-top:0;
		}
	</style>
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
				<form class="layui-form" action="">
						<div class="layui-form-item">
							<label class="layui-form-label">超时未首电</label>
							<div class="layui-input-inline">
								<select name="first_time" lay-verify="required">
									<for start="5" end="21">
										<option value="{$i}" <if condition="$data['first_time'] eq $i"> selected</if>>{$i}</option>
									</for>
								</select>
							</div>
							<div class="layui-form-mid layui-word-aux">分钟</div>
							<div class="layui-form-mid layui-word-aux">（说明：商务获得商机后，X分钟内没有打电话或者跟进。自己转化的商机除外）</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">超期未跟进</label>
							<div class="layui-input-inline">
								<select name="over_time" lay-verify="required">
									<for start="1" end="11">
										<option value="{$i}"  <if condition="$data['over_time'] eq $i"> selected</if> >{$i}</option>
									</for>
								</select>
							</div>
							<div class="layui-form-mid layui-word-aux">天</div>
							<div class="layui-form-mid layui-word-aux">（说明：首电之后在X天内未跟进）</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">成单保护期</label>
							<div class="layui-input-inline">
								<input type="text" name="success_time" value="{$data.success_time}" required lay-verify="required" placeholder="请输入成单保护期" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-form-mid layui-word-aux">天</div>
							<div class="layui-form-mid layui-word-aux">（说明：签单之后在X天内不掉库）</div>
						</div>
						<div class="layui-form-item" style="margin-left:20px">
							<div class="layui-input-inline">
								<button class="layui-btn layui-btn-blue" lay-submit lay-filter="Edit">保存</button>
							</div>
						</div>
					</form>
                </div>
            </div>
        </div>
    </div>

    <include file="Public:footer" />
	<script type="text/javascript">
			layui.use(['form','layer'],function(){
				var $ = layui.$,data,layer=layui.layer,form=layui.form;
				//提交编辑内容
				form.on('submit(Edit)', function(data){
						var index_o = layer.load();
						var datas = data.field;
						$.ajax({
							url:'edit.html',
							data:datas,
							type:'post',
							dataType:'json',
							success:function(res){
								layer.close(index_o);
								layer.msg(res.msg);
								if(res.code==200){
									setTimeout(function(){
											layer.closeAll();
											location.reload();
									},500)
								}
							}
						})
						return false; 
				});
		});
		</script>
</body>
</html>